.delete-review-btn {
    margin-top: 0;
    width: 140px;
    height: 40px;
    border: none;
    background-color: #000000;
    color: #ffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 5px;
    margin-left: 10px;
}
.delete-review-btn:hover {
    background-color: #ffffff;
    color:#000000;
    border: 1px solid #000000;
}